* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrap {
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: white;
  font-weight: bold;
}

.weather-search {
  text-align: left;
  width: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.location .city {
  font-size: 40px;
}

.location .date {
  font-size: 35px;
}

.temperature {
  font-size: 80px;
}

.weather {
  font-size: 70px;
}

.time {
  font-size: 30px;
}

.low-high {
  font-size: 40px;
}